
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    @*<form asp-route-area="AdminAuthorities" asp-controller="Lesson" asp-action="Search" method="post">
            <div>
                <a asp-action="Add">Add The Role</a>
            </div>
            <div>
                <input type="text" placeholder="Search" asp-for="Key" /><br />
                <input type="submit" value="Search" />
            </div>
        </form>*@

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>IsPersonActive</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Model.People)
            {
                <tr>
                    <td>@entity.Id</td>
                    <td>@entity.Name</td>
                    <td>@entity.Surname</td>
                    <td>@entity.IsPersonActive</td>
                    <td>
                        <a asp-route-area="AdminAuthorities" asp-controller="Person" asp-action="Edit" asp-route-id="@entity.Id">Edit</a> |
                        <a asp-route-area="AdminAuthorities" asp-controller="Person" asp-action="Details" asp-route-id="@entity.Id">Details</a> |
                        <a asp-route-area="AdminAuthorities" asp-controller="Person" asp-action="Delete" asp-route-id="@entity.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
